body {
  font-family: Arial, sans-serif;
  background: #1a3d63;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.cajas {
  background: #0a1931;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 180px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.cajas:hover {
  transform: translateY(-5px);
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
header {
  display: flex;
  height: 70px;
  background-color: #0A1931;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.menucategorias a {
  text-decoration: none;
  color: #f6fafd;
  font-weight: bold;
  margin: 0 10px;
  padding: 8px 15px;
  border-radius: 20px;
  background: #4a7fa7;
  transition: all 0.3s ease;
}
.menucategorias a:hover {
  background: #f6fafd;
  color: #4a7fa7;
}

.principal{
  color: #f6fafd;
  font-weight: bold;
  margin: 0 10px;
  padding: 8px 15px;
  border-radius: 20px;
  background: #4a7fa7;
  transition: all 0.3s ease;
  pointer-events: none;
}

.logo {
  width: 20px;
  height: 20px; 
  color: #faf6fd;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0px 10px;
  padding: 0px 10px;
  border-radius: 20px;
  background: #4a7fa7;
}
.logo-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.cajas:hover .icono {
  transform: rotate(10deg) scale(1.1);
}
.resaltar:hover {
  background-color: #185adb;
  box-shadow: 0 0 15px #00b4d8;
  transition: background-color 0.4s, box-shadow 0.4s;
}
.menu {
  display: flex;
  align-items: center;
}

.cajas i {
  font-size: 40px;
  color: #f6fafd;
  margin-bottom: 10px;
  transition: color 0.3s;
}
.cajas h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: #ffe8e8;
}

.cajas p {
  margin: 0;
  font-size: 14px;
  color: #040404;
}
footer {
  background-color: #0A1931;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 1em;
  border-top: 58px solid #1A3D63;
  letter-spacing: 24px;
}