* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    }
 body {
      font-family: Arial, sans-serif;
      background-color: #0A1931;
    }
nav {
      display: flex;
      font-family:Tahoma;
      justify-content: space-between; 
      align-items: center;
      padding: 25px 25px;
      background-color: #0A1931;
      color: rgb(0, 0, 0);
    }
nav .logo {  
      font-size: 1.5em;
      display: flex;
      align-items: center;
      font-weight: bold;
      background-color: #1A3D63;
      padding: 10px 10px;
      border-radius: 80px;
      gap: 40px;
    } 