* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    }
 body {
      font-family: Arial, sans-serif;
      background-color: #0A1931;
    }
nav {
      display: flex;
      font-family:Tahoma;
      justify-content: space-between; 
      align-items: center;
      padding: 25px 25px;
      background-color: #0A1931;
      color: rgb(0, 0, 0);
    }
nav .logo {  
      font-size: 1.5em;
      display: flex;
      align-items: center;
      font-weight: bold;
      background-color: #1A3D63;
      padding: 10px 10px;
      border-radius: 80px;
      gap: 40px;
    } 
nav .logo img{
      width: 150px;  
      height: 150px;
      border-radius: 80px;
    }
nav .ul {
      list-style: none;
      display: flex;
      gap: 10px;
    }
nav ul li a {
      display: flex;
      flex-direction: column;   
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-size: 1.2em;
      font-weight: bold;

      width: 170px;            
      height: 170px;            
      background-color: #1A3D63;
      border-radius: 60%;       
      overflow: hidden;        
    }
nav ul li a:hover {
      color: #0A1931;
    }
.contenido {
      flex: 1;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      gap: 20px;
      align-items: center;
      justify-items: center;
      padding: 20px;
      background-color: #1A3D63;
    }
 .contenido article {
      background-color: #B3CFE5;
      padding: 20px;
      border-radius: 20px;
      width: 80%;
      min-height: 200px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    }
.contenido article h2{
      text-align: center;
    }
.contenido article p{
      text-align: center;
      font-size: 25px ;
    }