* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    }
 body {
      font-family: Arial, sans-serif;
      background-color: #0A1931;
    }
nav {
      display: flex;
      font-family:Tahoma;
      justify-content: space-between; 
      align-items: center;
      padding: 25px 25px;
      background-color: #0A1931;
      color: rgb(0, 0, 0);
    }