body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1a3d63, #4a7fa7);
    color: #0A1931;
    text-align: center;
}

header {
    display: flex;
    height: 70px;
    background-color: #0A1931;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

header a{
    text-decoration: none;
}

.categorias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menucategorias a {
    text-decoration: none;
    color: #f6fafd;
    font-weight: bold;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 20px;
    background: #4a7fa7;
    transition: all 0.3s ease;
}

.menucategorias a:hover {
    background: #f6fafd;
    color: #4a7fa7;
}

.principal{
    color: #f6fafd;
    font-weight: bold;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 20px;
    background: #4a7fa7;
    transition: all 0.3s ease;
    pointer-events: none;
}

.contactos{
    color: #f6fafd;
    font-weight: bold;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 20px;
    background: #4a7fa7;
    transition: all 0.3s ease;
    pointer-events: none;
}

.logo {
    color: #faf6fd;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0px 10px;
    padding: 0px 10px;
    border-radius: 20px;
    background: #4a7fa7;
}
.logo-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

h1, h2 {
    color: #faf6fd;
    margin: 20px 0;
    text-shadow: 2px 2px 5px #b3cfe5(255, 105, 180, 0.2);
}

.menu_logo{
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-right: 20px;
}

.menu_logo:hover{
    transform: scale(1.1);
}

.links{
    width: 20%;
    height: 10%;
    position: absolute;
    inset: 10%;
    background-color: #b3cfe5;
    place-content: left;
    gap:30px;
    padding: 20px;
    margin: 14px 70% 0 70%;
    display: grid;
    transition: opacity .5s linear;
    opacity: 0;
}

.input{
    display: none;
}

.menu:has(.input:checked){
    .links{
        opacity: 1;
    }
    .contactos{
        pointer-events: all;
    }
    .principal{
        pointer-events: all;
    }
}

.CartLabel{
    background: linear-gradient(135deg, #b3cfe5, #4a7fa7);
    border: none;
    color: #0a1931;
    font-size: 15px;
    padding: 10px 18px;
    margin: 10px 5px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px #1a3d63(255, 105, 180, 0.3);
    margin-top: auto;
    position: relative;
}

.CartInput{
    position: absolute;
    display: none;
}

.info:has(.CartInput:checked){
    
}

.banner {
    font-weight: bold;
    border-radius: 20px;
    margin: 10px 100px;
    padding: 5px 15px;
    background: #4a7fa7;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.producto {
    background: #fff;
    margin: 20px;
    border-radius: 15px;
    padding-bottom: 20px;
    padding-top: 100px;
    box-shadow: 0 5px 15px #1a3d63 (255, 105, 180, 0.2);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    
}

.producto img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    margin: -85px 40px 0px 16px;
    object-fit:contain;
    position: absolute;
    transition: transform .3s ease;
    transition: opacity .5s linear;
}

.atras {
    opacity: 0;
    transition: opacity .5s linear;
}

.producto:atras {
    transform: translateY(-5px);
}

.producto:hover .atras {
    opacity: 1;
    transition: opacity .5s linear;
}

.producto:hover .adelante {
    opacity: 0;
    transition: opacity .5s linear;
}

.nombre {
    font-size: 18px;
    margin: 10px 0;
    color: #0A1931;
    overflow: hidden;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    color: #0A1931;
    background: #b3cfe5;
    padding: 8px 12px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 5px;
    animation: brillar 2s infinite;
}

@keyframes brillar {
    0% { box-shadow: 0 0 5px #4a7fa7; }
    50% { box-shadow: 0 0 15px #4a7fb4; }
    100% { box-shadow: 0 0 5px #4a7fb8; }
}

.boton {
    background: linear-gradient(135deg, #b3cfe5, #4a7fa7);
    border: none;
    color: #0a1931;
    font-size: 15px;
    padding: 10px 18px;
    margin: 10px 5px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px #1a3d63(255, 105, 180, 0.3);
    margin-top: auto;
    position: relative;
    z-index: 800;
}
